*.a
*.o
*.obj
*.la
*.lo
*.log
*.lib
*.user
*.xdr
*.cache
*.tlog
*.lastbuildstate
*.idb
*.pdb
*.exe
*.ilk
*.opensdf
*.sdf
*.suo
*.trs
*.db

# sourcetrail
compile_commands.json
*.srctrlbm
*.srctrldb
*.srctrlprj

# text editors
*~
*.swp
**/.vscode/*
.idea
.clangd

.libs
.deps
.dirstamp

*.corpus
